@keyframes progress {
  0% { --percentage: 0; }
  100% { --percentage: var(--value); }
}

@property --percentage {
  syntax: '<number>';
  inherits: true;
  initial-value: 0;
}

[role="progressbar"] {
  --percentage: var(--value);
  --primary: #37ADBD;
  --secondary: #ffffff;
  --size: 150px;
  animation: progress 2s 0.5s forwards;
  width: var(--size);
  aspect-ratio: 2 / 1;
  margin: 30px 30px 0px 30px;
  border-radius: 50% / 100% 100% 0 0;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

[role="progressbar"]::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: conic-gradient(from 0.75turn at 50% 100%, var(--primary) calc(var(--percentage) * 1% / 2), var(--secondary) calc(var(--percentage) * 1% / 2 + 0.1%));
  mask: radial-gradient(at 50% 100%, white 55%, transparent 55.5%);
  mask-mode: alpha;
  -webkit-mask: radial-gradient(at 50% 100%, #0000 55%, #000 55.5%);
  -webkit-mask-mode: alpha;
}

[role="progressbar"]::after {
  counter-reset: percentage var(--value);
  content: counter(percentage) '%';
  font-size: 35px;
  font-weight: 500%;
  color: #ffffff;
}

*,
*:before,
*:after {
    padding: 0;
    margin:0;
    box-sizing: border-box;
}
body {
    width: 100%;
    height: auto;
    font-family: 'DM Sans', sans-serif;
    background-color: #076670;
    -webkit-font-smoothing: antialiased;
  }
  .content{
    width: 100%;
    height: 100%;
    display: flex;
  }
  /* Create two equal columns that floats next to each other */
.column {
    float: left;
    padding: 5px;
  }
  
  .bar {
    background-color: #ffffff;
    width: 100%;
    height: 35px;
    border-radius: 5px;
    margin-bottom: 2px;
    }
   
    .heuristics-score{
        margin: 35px;
        width: 55%;
        float: left;
        align-items: left;
        text-align: right;
    }

.heuristics-score   h2 {
    padding-right: 30px;
    font-weight: 400;
    font-size: 15px;
    color: #ffffff;
    margin: 0 0 5px 0;
  }
  
  .bar-inner {
    border-radius: 5px;
    background-color: #37ADBD;
    width: 0%;
    height: 100%;
    position: relative;
    transition: width 2000ms linear;
  }
  
  .bar-inner:after {
    position: absolute;
    right: 2.5%;
    content: attr(data-percent);
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
  }

/* Add tooltip style */
.tooltip-features {
  display: none;
  position: absolute;
  top: -40px; /* Adjust the position as needed */
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 5px 15px;
  border-radius: 5px;
  font-size: 14px;
  z-index: 999; /* Ensure the tooltip appears above other elements */
  white-space: nowrap; /* Prevent text wrapping */
}

/* Style for images within the tooltip */
.tooltip-features img {
  width: 15px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
  margin-right: 5px; /* Adjust spacing between image and text */
}

/* Align text to the left */
.tooltip-features div {
  text-align: left;
}

/* Show tooltip on hover */
.bar-inner:hover .tooltip-features {
  display: block;
}


  

.container {
    width: 100%;
    height: auto;
    background-color: #076670;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.heading {
    margin-top: 20px;
    text-align: center;
    margin-bottom: 20px;
    padding-top: 20px;
}

.heading h1 {
    font-family: 'DM Sans', sans-serif;
    font-size: 50px;
    font-weight: bold;
}
.heading h2 {
    font-family: 'DM Sans', sans-serif;
    font-size: 22px;
    margin-top: 10px;
    font-weight: lighter;
}
.overall-score{
    /* padding-left: 200px; */
    width: 35%;
    float: right;
    align-items: right;
    text-align: right;
}
.container-score {
  margin-top: 220px;
  margin-left: 200px;
  height: 320px;
  width: 320px;
  background: linear-gradient(135deg, #2C96A2, #1B5359);
  position: absolute;
  transform: translate(-50%, -50%);
  border-radius: 8px;
  box-shadow: 20px 20px 40px rgba(62, 66, 67, 0.5);
  display: grid;
  place-items: center;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}

.circular-progress{
  position:relative;
  height:200px;
  width: 200px;
  background-color:  #9AEAE4 ;
  border-radius: 50% ;
  display: grid;
  place-items: center;
  margin-top: 12px;
}
.circular-progress:before{
  content:"";
  position: absolute;
  height: 70%;
  width: 70%;
  background: linear-gradient(135deg, #1B5359, #2C96A2);
  border-radius: 50%;
}
.value-container{
  position: relative;
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  color:#ffffff ;
  font-weight: 500%;
  margin-left: 10px;

}

.container-score h2{
  font-size: 20px;
  color: #ffffff;
  font-weight: 500;
  margin-bottom: 10px;
}
.progress-bars {
  padding: 0 150px 0 150px;
  display: flex;
  width: 100%;
}
.principle-label{
  padding: 0 200px 0 60px;
  display: flex;
  width: 100%;
}
.label h2{
  font-size: 20px;
  color: #ffffff;
  font-weight: 500;
  margin-bottom: 10px;
}
.col {
  flex: 1;
  padding: 10px;
  /* border: 1px solid #f1f1f1; */
}

.principles h2{
  margin-top: 20px;
  margin-bottom: 10px;
  padding-left: 150px;
  font-weight: 400%;
}

.suggestions{
  margin-top: 20px;
  margin-bottom: 10px;
  width: 100%;
  font-weight: 400%;
}
.wrapper {
  padding-top: 10px;
  position: relative; /* Keep the wrapper relative */
  display: grid;
  height: auto; /* Ensures the wrapper covers the entire viewport height */
  justify-content: center; /* Aligns content horizontally to the center */
  align-items: center; /* Aligns content vertically to the center */
}

.box1 {
  width: 1000px;
  height: auto;
  background-color: rgb(249, 246, 246,0);
  border: 2px solid white;
  border-radius: 4px;
  font-size: 20px;
  margin-bottom: 105px; /* Space for box2 */
  text-align: center; /* Center the content */
}

.box2 {
  padding: 5px;
  margin-left: 20px;
  width: 400px;
  height: auto;
  background-color: white;
  border: 1px solid white;
  font-size: 20px;
  top: -50%;
  text-align: center; /* Center the content */
}

.box1-value{
  
  font-size: 15px;
  text-align: left;
  color:white;
  padding:30px;
  line-height: 30px;
  letter-spacing: 1px;
  font-weight: lighter;
  font-family: "Poppins", sans-serif;
}

.box2 h2{
  font-size: 12.5px;
  text-align: center;
  letter-spacing: 1px;
  margin-top:4px;
  color:#076670;
  font-weight:600%;
}